//////////////////////////////////////////////////
//                                              //
//  About Styling View                          //
//                                              //
//  Requires: Text styling module               //
//                                              //
//////////////////////////////////////////////////


//////////////////////////////
// Default variables        //
//////////////////////////////




////////////////////
// Styling        //
////////////////////


.about {
  padding-top: em(200);
  &.active {
    // display: block;
  }
  &__detail {
    @include clearfix();
  }
  &__info {
    @include span-columns(6);
  }
  &.global__section {
    min-height: 100%;
    height: auto;
  }

}

.experience {
  &__heading {
    padding: 3px 10px 15px;
    margin-bottom: 30px;
    display: block;
  }
}
.timeline {
  list-style: none;
  position: relative;
  &:before {
    @include position(absolute, 0 null 0 50%);
    content: " ";
    width: 2px;
    background-color: $color__experience;
    margin-left: -1.5px;
  }

  &__panel {
    border: 1px solid $color__experience-light;
    border-radius: 3px;
    background-color: $color__white;
    color: $color__neutral;
    padding: 10px;
    position: relative;
    @include prefixer(box-shadow, 0 1px 6px rgba(0, 0, 0, 0.175), webkit moz spec);
  }

  &__item {
    padding: 20px 0;
    @include transform(scale(0,0));
    @include span-columns(6);
    &-content {
      @include span-columns(11);
      &-right {
        float: right;
      }
    }
  }
  &__movement {
    border-bottom: dashed 1px $color__experience;
    position: relative;
    margin: 0 auto;
    @include size(0 0);
    @include clearfix();
    &-top {
      @include animation(move-height-top 1s 8s forwards, move-width 5s 9s forwards);
    }
    &-content-one {
      @include animation(move-height-content 1s 10s forwards, move-width 5s 12s forwards);
      .timeline__item {
        @include animation(scale-width 4s 17s forwards);
      }
      .timeline__date-movement {
        @include animation(scale-width 1s 10s forwards);
      }
    }
    &-content-two {
      @include animation(move-height-content 1s 20s forwards, move-width 5s 22s forwards);
      .timeline__item {
        @include animation(scale-width 4s 27s forwards);
      }
      .timeline__date-movement {
        @include animation(scale-width 1s 21s forwards);
      }
    }
    &-content-three {
      @include animation(move-height-content 1s 30s forwards, move-width 5s 32s forwards);
      .timeline__item {
        @include animation(scale-width 4s 38s forwards);
      }
      .timeline__date-movement {
        @include animation(scale-width 1s 31s forwards);
      }
    }
  }
  &__badge {
    color: $color__white;
    font-size: 1.2em;
    text-align: center;
    margin-left: -25px;
    background-color: $color__experience;
    z-index: 36;
    border-radius: 50%;
    @include transform(scale(0,0));
    @include size(50px 50px);
    @include position(absolute, 20px null null 50%);
    &.timeline__future-movement {
      background-color: $color__white;
     @include size(35px 35px);
      font-size: 1.7em;
      top: -16px;
      margin-left: -18px;
      @include animation(scale-width 1s 4s forwards);
      a span {
      color: $color__experience;
      font-size: 0.9em;
      top: 2px;
      left: 1px;
      }
    }
    &.timeline__filter-movement {
      background-color: $color__white;
      font-size: 1.7em;
      margin-left: -18px;
      top: 40px;
      @include size(35px 35px);
      @include animation(scale-width 1s 7s forwards);
      a span {
        color: $color__experience;
        font-size: 0.9em;
        top: 2px;
        left: 1px;
      }
    }
  }

}

/* ANIMATION */
@include keyframes(move-width) {
  0% { width:0px;}
    100% { width: 100%;}
}
@include keyframes(move-height-top) {
  0% { height: 0px;}
    100% { height: 60px;}
}
@include keyframes(move-height-content) {
  0% { height: 0px;}
    100% { height: 150px;}
}
@include keyframes(scale-width) {
  0%   { @include transform(scale(0,0));}
    100% { @include transform(scale(1,1));}
}
