//////////////////////////////////////////////////
//                                              //
//  Home Styling Module                         //
//                                              //
//  Requires: Text styling module               //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

$layout__with: 960 !default;

////////////////////
// Styling        //
////////////////////

@import "modules/line";

/* Show one of sections home */
.home {
  &.global__section {
    display: block;
  }
  &__content {
    @include size(em($layout__with) 100%);
    margin: 0 auto;
    overflow: hidden;
  }
  &__graph {
    @include outer-container(80%);
    @include position(relative, 50% null null null);
    @include size(100% em(30));
  }
}