html,
body {
  color: $color-base;
  font-family: $base-font-family;
  font-size: $font-base-desktop;
  height: 100%;
  overflow: hidden;
  width: 100%;
  // fix error font text on ie
  @include prefixer(font-feature-settings, normal, webkit moz ms o spec);
}

@include media($tablet) {
  html,
  body {
    font-size: $font-base-tablet;
  }
}

@include media($mobile) {
  html,
  body {
    font-size: $font-base-mobile;
    height: 100%;
  }
}

h2,
h3,
h4 {
  font-weight: 300;
}

p {
  font-size: em(13px);
}

a {
  &:active,
  &:focus,
  &:hover {
    color: $white;
  }
}
.container {
  height: 100%;
  @include outer-container(100%);
}

.text-center {
  text-align: center;
}

// Style Screen
.screen {
  height: 100%;
  z-index: auto;
  width: 100%;
  overflow: hidden;
  @include position(absolute, 0 null null 0);
  @include transition(transform 1000ms cubic-bezier(.23,1,.32,1) 0ms);
  &-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    will-change: transform;
    width: 100%;
    @include transition(transform 2000ms cubic-bezier(.23,1,.32,1) 0ms);
    &.up {
      @include transition(transform 2000ms cubic-bezier(.23,1,.32,1) 500ms);
      @include transform(translate3d(0px, -195px, 0px));
      @include media($desktop) {
        @include transform(translate3d(0px, -205px, 0px));
      }
    }
  }
  &.top {
    @include transform(translate3d(0,-100%,0));
  }
  &.bottom {
    @include transform(translate3d(0,100%,0));
  }
  &.active {
    .more {
      a {
        &:before {
          content: '\f067';
          font-size: em(15);
          @extend .font-awesome;
          @include position(absolute, 5px 0 null null);
          @include media($mobile-tablet) {
            top: 3px;
          }
          @include transition(all 500ms ease-in-out);
          @include transform(rotate(0deg) translateZ(0));
        }
      }
    }
  }
  &-wap {
    background-color: transparent;
    z-index: 2;
    @include position(absolute, 0 null null 0);
    @include size(100% 100%);
  }
  &-three {
    background-color: $gray;
  }
  .bg-image {
    background-repeat: no-repeat;
    @include position(absolute, 50% 0 0 0);
    @include transform(translateY(-50%));
  }
  .bg-image-cover {
    background-position: center center;
    background-size: cover;
    @include size(100% 100%);
  }
  .bg-image-contain {
    background-size: contain;
    background-position: center center;
  }
  .wapper {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
  }
}

.content {
  color: $white;
  text-align: center;
  max-width: 800px;
  padding: 0 50px;
  width: 100%;
  padding: 0 15px;
  @include media($mobile-tablet) {
    padding: 0 30px;
  }
  box-sizing: border-box;
  z-index: 4;
  h1 {
    word-break: break-word;
    margin: 0 auto 50px;
    backface-visibility: hidden;
    a {
      color: $white;
      &:hover {
        color: $red;
      }
    }
  }
  .title {
    font-size: em(20);
  }
  .date {
    color: #a3a3a3;
  }
  .more {
    position: absolute;
    width: 100%;
    @include calc(top, "75% + 20em");
    @include transition(top 1000ms ease-in-out);
    a {
      padding: 0 35px 0 0;
      @include media($mobile-tablet){
        padding-right: 15px;
      }
      color: $red;
      position: relative;
      font-size: em(25);
      &:hover {
        &:before {
          @include transform(rotate(90deg) translateZ(0));
        }
      }
    }
  }
}

//Style overlay
.nav-overlay {
  @include position(fixed, 0 null null 0);
  @include size(100% 100%);
  background: rgba(0,0,0,0.5);
  z-index: 2;
  display: none;
  opacity: 0;
  @include transition(opacity 1s cubic-bezier(0.19,1,0.22,1) 0);
  &.displayed {
    display: block;
    opacity: 1;
  }
}

// Style Pagination -->
.nav-swiper {
  @include clearfix;
  @include outer-container(100%);
  // @include media($max-tablet) {
  //   @include outer-container(100%);
  // }
  position: relative;
  z-index: 5;
  &-pagination {
    text-align: center;
    @include transition(300ms);
    @include transform(translate3d(0, 0, 0));
    @include position(absolute, 50% 10px null null);
    @include media($mobile-tablet) {
      right: 0;
    }
    @include transform(translate(0%, -50%));
    &-bullet {
      cursor: pointer;
      color: $white;
      display: block;
      margin-bottom: em(10);
      opacity: 1;
      position: relative;
      strong {
        opacity: 0;
      }
      span {
        opacity: 1;
        right: 10px;
        position: absolute;
        top: 0;
        &:after {
          display: none;
          content: '';
          @include size(8px 8px);
          border-radius: 50%;
          background-color: $white;
          display: none;
        }
      }
      @include media($mobile-tablet) {
        strong {
          opacity: 0;
        }
        span {
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          font-size: 0;
          &:after {
            display: block;
          }
        }
      }
      &.active {
        strong {
          opacity: 1;
        }
        span {
          opacity: 0;
          &:after {
            background-color: #111;
          }
        }
        @include media($mobile-tablet) {
          strong {
            opacity: 0;
          }
          span {
            opacity: 1;
          }
        }
      }
      &:hover {
        opacity: 0.5;
        @include transform(scale(1.3,1.3));
        @include transition(transform 1200ms cubic-bezier(.19,1,.22,1) 500ms);
        @include transition(opacity 1000ms cubic-bezier(0.19,1,0.22,1) 100ms);
      }
    }
  }
}

//Style video
.video-container {
  @include position(absolute, 50% null null 50%);
  iframe {
    @include size(100% 100%);
    @include position(absolute, 0 null null 0);
  }
}

//Style arrow bar
.arrow-bar {
  cursor: pointer;
  text-align: center;
  z-index: 60;
  margin: 0;
  color: $white;
  @include position(absolute, null null 0 null);
  @include size(100% 50px)  ;
  @include transition(color 500ms ease-in-out, background-color 500ms ease-in-out);
  &:hover {
    color: $red;
    background-color: $white;
  }
  .text-hover {
    opacity: 0;
    color: #f8f8f8;
    line-height: 50px;
    text-align: center;
    @include position(absolute, 0 0 0 0);
    @include transition(all 500ms ease-in-out);
  }
  span {
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    @include position(absolute, 0 0 0 0);
    @include transition(all 500ms ease-in-out);
    &:before {
      content: '\f063';
      @extend .font-awesome;
    }
  }
  @include media($mobile-tablet) {
    display: none;
  }
}

.dark {
  .nav-swiper-pagination-bullet,
  .navigation .navigation-wrapper a,
  .nav li a {
    color: $red;
    &:hover {
      color: $red;
      opacity: 1;
    }
  }
  .arrow-bar {
    color: $white;
    background-color: $red;
    &:hover {
      background-color: $red;
      .text-hover {
        @include transform(translateX(-20px));
        opacity: 1;
      }
      span {
        @include transform(translateX(20px));
      }
    }
  }
  .menu-button i {
    background-color: $red;
  }
  .nav-swiper {
    &-pagination {
      &-bullet {
        color: $red;
        span {
          &:after {
            background-color: $red;
          }
        }
        &.active {
          span {
            &:after {
              background-color: $black;
            }
          }
        }
      }
    }
  }
}


// style for icon of Fontawesome
.font-awesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}