.footer {
  background-color: #111;
  color: $white;
  padding: 55px 0;
  font-size: 1em;
  min-height: 192px;
  @include transition(transform 2000ms cubic-bezier(.23,1,.32,1) 0ms);
  will-change: transform;
  a {
    color: #aaa;
    margin: 0 1em;
  }
  &-show {
    @include transition(transform 1800ms cubic-bezier(.23,1,.32,1) 0ms);
    @include transform(translate3d(0,-100%,0));
  }
}