//var

$navigation-height: em(68);
$bg-nav-color: #c42846;


.navigation {
  background-color: transparent;
  position: fixed;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  &-wrapper {
    @include clearfix;
    @include outer-container(60%);
    @include media($mobile-tablet) {
      @include outer-container(93%);
    }
    position: relative;
    z-index: 1;
  }
  &-menu {
    margin-top: em(300);
    padding: 0 em(70);
  }
}
.nav {
  display: none;
  position: absolute;
  right: 0;
  z-index: 3;
  min-width: 500px;
  height: 100%;
  background-color: $bg-nav-color;
  li {
    margin-bottom: 15px;
    opacity: 0;

    a {
      color: $white;
      font-size: em(28);
      @include transition(border 0.9ms cubic-bezier(0.19,1,0.22,1) 0s);
      &:hover {
        border-bottom: 2px solid $white;
      }
    }
  }
  &.displayed {
    display: block;
    @include animation(fadeInDown 1s 0s forwards);
    li {

      &:nth-child(1) {
        @include animation(fadeInDown 1s 1s forwards);
      }
      &:nth-child(2) {
       @include animation(fadeInDown 1.5s 1.5s forwards);
      }
      &:nth-child(3) {
        @include animation(fadeInDown 2s 2s forwards);
      }
      &:nth-child(4) {
        @include animation(fadeInDown 2.5s 2.5s forwards);
      }
    }

  }
}

.logo {
  display: inline-block;
  color: $white;
  font-size: 2.5em;
  line-height: 4.5em;
}

.menu-button {
  float: right;
  margin-top: em(68);
  position: relative;
  cursor: pointer;
  padding: em(12);

  i {
    display: block;
    @include size(30px 3px);
    background-color: $white;
    margin-bottom: em(5);
    opacity: 1;
    @include transition(opacity 1s cubic-bezier(0.19,1,0.22,1) 0);
    &:nth-child(3) {
      position: absolute;
      top: em(20);
    }
    &:nth-child(1),
    &:nth-child(4) {
      opacity: 1;
    }
    &:nth-child(2) {
      @include transform(rotate(0deg));
      @include transition-duration(1.0s);
    }
    &:nth-child(3) {
      @include transform(rotate(0deg));
      @include transition-duration(1.0s);
    }
  }
  &.active {
    i {
      &:nth-child(1),
      &:nth-child(4) {
        opacity: 0;
      }
      &:nth-child(2) {
        @include transform(rotate(45deg));
        @include transition-duration(1.0s);
      }
      &:nth-child(3) {
        @include transform(rotate(-45deg));
        @include transition-duration(1.0s);
      }
    }
  }
}