/*testimonials*/
.partner {
  &-item {
    @include span-columns(6);
    &--photo img {
      float: left;
      margin:0 em(60px) em(25px) 0;
    }
  }
  // &-slide {
  //   height: 100%;
  //   @include clearfix;
  //   @include outer-container(100%);
  //   @include media($mobile-tablet) {
  //     @include outer-container(100%);
  //   }
  // }
}

.screen {
  height: 100%;
  padding-top: 128px;
  &-one {
    background-color: $blue;
  }
  &-two {
    background-color: #293039;
  }
  &-three {
    background-color: pink;
  }
  &-wrapper {
    will-change: transform;
    position: relative;
    @include outer-container(60%);
    margin-top: -168px;
    height: 100%;
    @include media($mobile-tablet) {
      @include outer-container(93%);
    }
  }
}