.screen-two {
  &-title {
    width: 100%;
    padding: 0 100px;
    max-width: 800px;
    padding: 0 50px;
    z-index: 11;
    text-align: center;
    @include position(absolute, 28% null null 50%);
    @include transform(translate3d(-50%,-50%,0));
    h3 {
      color: #d1f2fd;
      font-size: em(38);
      font-weight: 600;
      margin: 0;
    }
  }
  &-iphone {
    margin-left: -195px;
    z-index: 2;
    @include position(absolute, null null -130px 50%);
    @include transform(translate3d(0,100%,0));
    @include transition(transform 2000ms cubic-bezier(.19,1,.22,1) 1000ms);
    video {
      z-index: 4;
      background-color: $blue;
      @include position(absolute, 99px null null 63px);
      @include size(262px 465px);
    }
  }
  &-stars {
    margin-left: -600px;
    z-index: 0;
    @include position(absolute, null null 200px 50%);
    @include size(1200px 100px);
    span {
      display: block;
      @include size(1px 1px);
      background: $white;
      position: absolute;
      opacity: .5;
      box-shadow: 0 0 8px 1px rgba(255,255,255,.5);
    }
  }
}
.screen {
  &.active {
    .screen-two-iphone {
      @include transform(translate3d(0,0,0));
    }
  }
}