.screen-five {
  &-iphone {
    margin-left: -195px;
    z-index: 4;
    @include position(absolute, null null -195px 50%);
    video {
      width: 261px;
      left: 64px;
      top: 88px;
    }
  }
  h5  {
    color: $white;
  }
  .trees {
    bottom: -38px;
  }
}