
// Style Screen-one

.screen-one {
  h1 span,
  h2,
  .appstore-link {
    opacity: 0;
    @include transform(translate3d(0,200px,0));
  }

  h1 {
    color: $white;
    font-size: em(85);
    margin-bottom: em(10);
  }
  h2 {
    max-width: 500px;
    margin: 0 auto;
    font-weight: 600;
    color: $white;
  }
  .content {
    top: 50%;
  }
  .appstore-link {
    display: block;
    margin: em(20) auto 0;
  }
  &.active {
    .appstore-link,
    h1 span,
    h2 {
      opacity: 1;
      @include transform(translate3d(0,0,0));
    }
    h1 span {
      @include transition(opacity 2000ms cubic-bezier(.19,1,.22,1) 700ms, transform 2000ms cubic-bezier(.19,1,.22,1) 700ms);
    }
    h2 {
      @include transition(opacity 2000ms cubic-bezier(.19,1,.22,1) 900ms, transform 2000ms cubic-bezier(.19,1,.22,1) 900ms);
    }
    .appstore-link {
      @include transition(opacity 2000ms cubic-bezier(.19,1,.22,1) 1100ms, transform 2000ms cubic-bezier(.19,1,.22,1) 1100ms);
    }
  }
}