.mobile {
  &-screen {
    background-color: $blue;
    height: 100%;
  }
  .content {
    padding: 150px 30px;
    box-sizing: border-box;
    color: $white;
    z-index: 5;
    @include size(100% 100%);
    @include position(relative, 0 null null null);
  }

  .landscape {
    @include position(absolute, null null 0 0);
    @include size(100% 70px);
    background-color: $white;
  }
  .trees {
    margin-left: -200px;
    z-index: auto;
    @include position(absolute, 0 null null 50%);
    @include size(400px 100%);
    .tree {
      &:nth-child(1) {
        top: -6px;
        left: 60px;
        z-index: 5;
        @include size(46px 62px);
      }
      &:nth-child(2) {
        top: -40px;
        left: 88px;
        @include size(34px 40px);
      }
      &:nth-child(3) {
        top: -63px;
        left: 246px;
        @include size(52px 63px);
      }
      &:nth-child(4) {
        top: 6px;
        left: 180px;
        z-index: 5;
        @include size(50px 63px);
      }
      &:nth-child(5) {
        top: 10px;
        left: 290px;
        @include size(50px 63px);
      }
    }
  }
}