@font-face {
    font-family: 'MyriadPro';
    src: url("../font/MyriadPro-Regular.otf"); 
}
@font-face {
    font-family: 'Tahoma-Bold';
	src: url("../font/tahomabd.ttf"),
 		url("../font/tahomabd.otf"),
 		url("../font/tahomabd.eot"),
 		url("../font/tahomabd.woff");
}
@font-face {
    font-family: 'Tahoma-Regular';
	src: url("../font/tahoma-regular.ttf"),
		url("../font/tahoma-regular.otf"),
		url("../font/tahoma-regular.woff"),
		url("../font/tahoma-regular.eot");
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
  	src: url("../font/HelveticaNeue-Bold.eot"),
  	    url("../font/HelveticaNeue-Bold.woff"),
  	    url("../font/HelveticaNeue-Bold.ttf"),
  	    url("../font/HelveticaNeue-Bold.otf"); 
}
@font-face {
    font-family: 'HelveticaNeue-Regular';
  	src: url("../font/HelveticaNeue_Med.eot"),
  	   url("../font/HelveticaNeue_Med.woff"),
  	   url("../font/HelveticaNeue_Med.ttf"); 
}
@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url("../font/HelveticaNeue-Light.eot"),
  	   url("../font/HelveticaNeue-Light.woff"),
  	   url("../font/HelveticaNeue-Light.otf"),
  	   url("../font/HelveticaNeue-Light.ttf"); 
}
@font-face {
  font-family: 'FontAwesome';
  src:  url("../font/FontAwesome.otf")
        url("../font/fontawesome-webfont.eot"),
        url("../font/fontawesome-webfont.woff"),       
        url("../font/fontawesome-webfont.ttf"); 
}