.header-main {
	height: 97px;
	.logo-header {
		float: left;
		padding: 0;
		height: 100%;
	}
	.logo-business {
		display: block;
		background-image: url('../images/logo-business.png');
		width: 287px;
		height: 76px;	
		margin: 29px 25px 0 40px;
		text-indent: -9999px;
		background-repeat: no-repeat;
	}	
}
.header-main-content {
	float: right;
	height: 100%;
	padding-right: 0;
}
.nav-header {
	margin-left: 55px;
}
.header-content,
.btn-contact {
	color: #fff;
}
.nav-header li a,
.btn-contact {
	text-transform: uppercase;
}
.header-content {
	height: 85px;	
	@include bg-gradient-img-top-bt("../images/bg-header-content.png",#041c5d,#1049b3,#0427fe,#4c4cfe);	
}
.nav-header li a {
	color: #808080;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}
.phone-number {
	height: 35px;
	width: 215px;	
	float: right;
	background-image: url(../images/phone-number.png);
	background-repeat: no-repeat;
}
.btn-contact {
	float: right;
	width: 76px;
	height: 28px;	
	border: 1px solid #00224b;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 25px;
	@include bg-gradient-top-bt (#266ecf, #003c8d, #2873d5);
}
.contactUs {
	float: left;
	font-size: 25px;	
	margin-left: 40px;	
}
.contactUs,
.text-focus {	
	margin-top: 25px;
	font-family: Arial;
}
.text-focus {
	display: inline-block;
	float: right;
	font-style: italic;	
	font-size: 20px;
	margin-right: 65px;
}
.logo-footer {
	float: right;
}
.text-link-footer li a{
	color: #4f4f4f;
	padding: 3px;
	font-size: 12px;
}