html {
  background:#505D6E url(../images/body4.jpg) no-repeat center center fixed;
  min-height:100%;
  // show scroll
  overflow: scroll;
  @include prefixer(background-size, cover, webkit moz o spec);

}

.text-center {
  text-align: center;
}

/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section {
  z-index: 1;
  min-height:420px;
  width: 100%;
  height:100%;
  padding-top:100px;
  padding-bottom:50px;
  display:none;
  top:0;
}


.dropdown {
  position: relative;
  &-menu {
    position: absolute;
    list-style: none;
    float: left;
    min-width: 160px;
    a {
      display: block;
    }
  }

}

@include media(768px) {
  .mainmenu {
    position: fixed;
  }
}
.mainmenu {
  z-index: 999999;
  width: 100%;
  padding: 30px 0 0 0;
}