//////////////////////////////////////////////////
//                                              //
//  Layout Styling Module                       //
//                                              //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

$layout__max-width: 1024 !default;
$layout__padding: 20, 20, 20, 20 !default;

$layout__border-width: 10px !default;
$layout__border-style: solid !default;
$layout__border-color: #C10000 !default;

$layout__bg-color: #DDDDDD !default;
$layout__bg-image: none !default;
$layout__bg-repeat: no-repeat !default;
$layout__bg-position: top center !default;
$layout__bg-size: 100% !default;



////////////////////
// Styling        //
////////////////////

html, body {
  min-height: 100%;
  height: 100%;
  position:relative;
}

html {
  background:#505D6E url(../images/body4.jpg) no-repeat center center fixed;

  // overflow: scroll;
  @include prefixer(background-size, cover, webkit moz o spec);

}

body {
  // background: $layout__bg-image $layout__bg-color $layout__bg-repeat $layout__bg-position;
  // background-size: $layout__bg-size;

  padding-bottom: em(120);   /* Height of the footer */
  * {
    box-sizing: border-box;
  }
}

.global__container {
  @include outer-container(80%);
}

// Center content
.global__block-centered {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.global__layout-centered {
  @extend .global__block-centered;
  max-width: em($layout__max-width);
  padding: em(nth($layout__padding, 1)) em(nth($layout__padding, 2)) em(nth($layout__padding, 3)) em(nth($layout__padding, 4));
}

.global__text-center {
  text-align: center;
}

.global__text-uppercase {
  text-transform: uppercase;
}

/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.global__section {
  min-height:420px;
  width: 100%;
  height:100%;
  padding: em(50) 0;
  display:none;
  top:0;
  position: relative;
  z-index: 1;
}

.hide {
  opacity: 0;
}
