
/* GRAPH */

.line {
  background-color:$color__graph;
  @include size(0 1px);
  @include position(absolute);
}
.running {
  .line {
    @include transform(rotate(0deg));
    top: em(15);
    @include animation(move 1s linear forwards);
    &--one {
      left: em(30);
    }
    &--two {
      left: em(210);
      @include animation-delay(1s);
    }
    &--three {
      left: em(390);
      @include animation-delay(2s);
    }
    &--four {
      left: em(570);
      @include animation-delay(3s);
    }
  }
  .ball {
    background-color:$color__graph;
    @include background-image(linear-gradient(90deg, $color__graph, 25%, #a0eaff));
    @include size(em(30) em(30));
    @include position(absolute);
    @include transform(scale(0));
    @include animation(point 1s linear forwards);
    border-radius:em(50);
    z-index:99;

    /* CONTROL LAYER DELAY */
    &--one {
      @include animation-delay(0s);
    }
    &--two {
      @include animation-delay(0.9s);
    }
    &--three {
      @include animation-delay(1.9s);
    }
    &--four {
      @include animation-delay(2.9s);
    }
    &--five {
      @include animation-delay(4s);
    }
  }
  .pulse {
    width: em(50);
    height: em(50);
    border-radius: em(50);
    border: 1px solid #00c6ff;
    box-shadow: 0 0 25px #00c6ff;
    position:absolute;
    @include transform(scale(0));
    @include animation(pulse 1s ease-out);

    /* CONTROL LAYER DELAY */
    &--one {
    @include animation-delay(0s);
    }
    &--two {
      @include animation-delay(0.9s);
    }
    &--three {
      @include animation-delay(1.9s);
    }
    &--four {
      @include animation-delay(2.9s);
    }
    &--five {
      @include animation-delay(4s);
    }
  }
}

.ball {
  &--one {
    top:em(0);
    left:0;
  }
  &--two {
    top:em(0);
    left:em(196);
  }
  &--three {
    top:em(0);
    left:em(372);
  }
  &--four {
    top:em(0);
    left:em(544);
  }
  &--five {
    top:em(0);
    left:em(744);
  }
  a {
    float:left;
    @include size(em(30) em(30));
    @include position(relative);
    text-decoration:none;
    small {
      background:#000;
      text-align:center;
      width:em(70);
      padding: em(5);
      @include border-style(solid);
      @include border-color(#111 #333 #333 #111);
      border-radius: em(3);
      display:none;
      color:$color__white;
      font-size:0.8em;
      text-indent: 0;
    }
    &:hover {
      small {
        display:block;
        position:absolute;
        top:0px;
        left:50%;
        margin: em(-40);
        z-index:9999;
        @include animation(tooltip .25s linear);
      }
    }
  }
}

.pulse {
  &--one {
    top: em(-4);
    left: em(-4);
  }
  &--two {
    top: em(-4);
    left: em(192);
  }
  &--three {
    top: em(-4);
    left: em(368);
  }
  &--four {
    top: em(-4);
    left: em(540);
  }
  &--five {
    top: em(-4);
    left: em(740);
  }
}

.circle {
  opacity: 0;
  border: 10px solid $color__circle--border;
  border-top-color: $color__circle--border-top;
  border-radius:50%;
  color: $color__neutral;
  text-align:center;
  @include prefixer(box-shadow, 0 0 50px 10px #453D9B, webkit moz spec);
  @include background-image(linear-gradient(top, #ffffff 48%, #ecebfa 49%, #ecebfa 51%, #fff 52%));
  @include size(em(120) em(120));
  @include position(absolute, em(-45) null null em(-45));
  @include animation(turning 5s infinite);
  @include animation-delay(5s);
  &:hover {
    @include prefixer(box-shadow, 0 0 100px 15px #453D9B, webkit moz spec);
  }
}


/* ANIMATION */
@include keyframes(move) {
  0% { width:0px;}
    100% { width: em(180); box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@include keyframes(point) {
  0%   { @include transform(scale(0,0));}
    100% { @include transform(scale(1,1));}
}

@include keyframes(pulse) {
  0% { @include transform(scale(0)); opacity: 0;}
    10% { @include transform(scale(1)); opacity: 0.5;}
      50% { @include transform(scale(1.75)); opacity: 0;}
        100% { @include transform(scale(0)); opacity: 0;}
}

@include keyframes(tooltip) {
  0% { @include transform(scale(0,0)); opacity: 0;}
    10% { @include transform(scale(1.2,1.2)); opacity: 0.3;}
      50%  { @include transform(scale(0.9,0.9)); opacity: 0.7;}
        100% { @include transform(scale(1,1)); opacity: 1;}
}

@include keyframes(turning) {
  0% { @include transform(rotate(0deg) scale(0,0)); opacity: 0; }
    100% { @include transform(rotate(360deg) scale(1,1)); opacity: 1;}
}