
/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.nav {
  z-index: 9999;
  width:100%;
  padding: em(30px) 0 0 0;
  @include media(769px) {
    position: fixed;
  }
  &__dropdown {
    position: relative;
    &-menu {
      list-style: none;
      float: left;
      min-width: 160px;
      font-size: em(13);
      padding:0;
      background:none;
      border:0 none;
      border-radius: 2px;
      box-shadow: none;
      display:block;
      opacity:0;
      @include position(absolute, -14em null null 0em);
      @include transition(all .45s);
      .active {
        font-weight:bold;
      }
      a {
        display: block;
        padding: em(10) em(10);
        margin:0;
        color:$color__white;
        text-decoration: none;
        border-radius: 2px;
        &:hover {
          background:rgba(255,255,255,.1);
          color:white;
          padding: em(10) em(8) em(10) em(12);
        }
      }
    }
  }
  &__toggle {
    cursor: pointer;
    float:left;
    display:block;
    padding: em(10) em(10);
    background: rgba(255, 255, 255, 0.2);
    background-image: none;
    border: 0 none;
    border-radius: 2px;
    outline: 0;
    opacity: 1;
    @include transition(all .45s);
    @include position(relative);
  }
  &__icon {
    display: block;
    @include size(em(22) em(2));
    background-color: $color__white;
    + .nav__icon {
      margin-top: em(4);
    }
  }
}
.open .nav {
  &__dropdown-menu{
    top: em(2px);
    opacity:1;
  }
  &__toggle {
    top:-70px;
    opacity: 0;
  }
}