// Style for footer
.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  &__logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($tablet-destop) {
      float: left;
      margin-bottom: 0;
    }
    img {
      height: 1.6em;
    }
  }

  &__list {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($tablet-destop) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  &__item {
    font-weight: 800;
    list-style: none;
    padding-right: 1em;

    @include media($tablet-destop) {
      display: inline;
      text-align: left;
    }
    a {
      color: $footer-link-color;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: transparentize($footer-color, 0);
      }
    }
  }

  &__links {
    @include media($tablet-destop) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

  &--social {
    margin: 1em 0 0 0;

    @include media($tablet-destop) {
      float: right;
      margin-top: 0;
    }

    li {
      font-size: 1em;
      float: left;
      line-height: 0;
      margin: 0;
      padding-right: 0.7em;

      &:last-child {
        padding-right: 0;
      }
    }

    img {
      height: 1.6em;
      opacity: 0.7;
      padding: 1px;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }
  }
}
