.header {
  @include clearfix();
  background-color: $nav-background-color;
  &__logo {
      @include media($tablet-destop) {
      @include span-columns(4);
      float: left;
    }
    max-height: $nav-height;
    padding-right: 2em;
    img {
      max-height: $nav-height;
      padding: 0.8em 0;
    }
  }
  &__navigation {
    @include media($tablet-destop) {
      @include span-columns(8);
    }
  }
  &__nav {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    @include clearfix;
    @include pad(0 default 0 default);
    @include media($tablet-destop) {
      height: $nav-height;
      line-height: $nav-height;
    }
  }
  &__list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    padding: em(10px);
    @include media($tablet-destop) {
      float: left;
      padding: 0 em(10px);
    }
  }
  &__link {
    color: $nav-color;
    font-size: $base-font-size;
    text-decoration: none;
    &:hover {
      color: $nav-color-hover;
    }
  }
}