@mixin  arrow-down($mgtop, $mgright, $mgleft, $btop, $bright, $bleft) {	
	margin-top: $mgtop;
	margin-right: $mgright;
	margin-left: $mgleft;
	border-top: $btop;	
	border-right-width: $bright;
	border-left-width: $bleft;	
}
@mixin  arrow-up($bbottom, $bright, $bleft) {		
	border-bottom: $bbottom;	
	border-right-width: $bright;
	border-left-width: $bleft;
}
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@mixin box-shadow($style-shadow...) {
	-moz-box-shadow: $style-shadow;
    -webkit-box-shadow: $style-shadow;
    box-shadow: $style-shadow; 
}
@mixin border-radius($style-radius) {	
    -webkit-border-radius: $style-radius;
    -moz-border-radius: $style-radius;
    border-radius: $style-radius;
}
@mixin bg-gradient-top-bt($color-top, $color-bottom) {
    background: $color-top;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from($color-top), to($color-bottom));
    background: -webkit-linear-gradient($color-top, $color-bottom);
    background: -moz-linear-gradient($color-top, $color-bottom);
    background: -ms-linear-gradient($color-top, $color-bottom);
    background: -o-linear-gradient($color-top, $color-bottom);
    background: linear-gradient($color-top, $color-bottom);
    -pie-background: linear-gradient($color-top, $color-bottom);    
}
@mixin bg-gradient-to-left( $color-first, $list-color...){ 	
    background: $color-first; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from($color-first) to($list-color)); /*old webkit*/
    background: -webkit-linear-gradient(left, $color-first, $list-color); /*newer webkit*/
    background: -moz-linear-gradient(left, $color-first, $list-color); /*old gecko*/
    background: -o-linear-gradient(left, $color-first, $list-color); /*opera 11.10+*/
    background: linear-gradient(to right, $color-first, $list-color); /*firefox 16+, chrome 26+, IE10+, opera 12.10+, future browsers*/
    -pie-background: linear-gradient(to right, $color-first, $list-color); /*ie 6-9 via PIE*/
}
@mixin bg-gradient-to-right($list-color...){
 	background: -prefix-linear-gradient(to right, $list-color);
    /* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards), without prefix */
    background: linear-gradient(to right, $list-color);
    -pie-background: linear-gradient(to right, $list-color);  
}
