/////////////////////////////////////////////////
//                                             //
//                    BASE                     //
//                                             //
//        Site-wide mixins and functions       //
//                                             //
/////////////////////////////////////////////////

$color__white: #FFFFFF;
$color__black: #000000;

$color__primary--light: #DD0000;
$color__primary: #C10000;
$color__primary--dark: #990000;

$color__secondary--light: #00DD00;
$color__secondary: #00C100;
$color__secondary--dark: #009900;

$color__neutral--light: #999999;
$color__neutral: #666666;
$color__neutral--dark: #333333;

$color__graph: #2187e7;
$color__progress: #f3f3f3;

$color__circle--border: #ECEBFA;
$color__circle--border-top: #ECEBFA;

// media screen
$max-mobile-breakpoint: 767px;
$min-tablet-breakpoint: 768px;
$max-tablet-breakpoint: 1024px;
$min-desktop-breakpoint: 1025px;

$destop: new-breakpoint(min-width $min-desktop-breakpoint);
$tablet-destop: new-breakpoint(min-width $min-tablet-breakpoint);
$tablet: new-breakpoint(max-width $max-tablet-breakpoint min-width $min-tablet-breakpoint);
$mobile-tablet: new-breakpoint(max-width $max-tablet-breakpoint);
$mobile: new-breakpoint(max-width $max-mobile-breakpoint);