//animation

@include keyframes(turning) {
  0% { @include transform(scale(0,0)); opacity: 0; }
    50% { @include transform(scale(0,0.1)); opacity: 0.5;}
      100% { @include transform(scale(1,1)); opacity: 1;}
}


@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translateY(2000px));
  }

  50% {
    opacity: 0;
    @include transform(translateY(100px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(fadeInDown) {
  from {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }

  to {
    opacity: 1;
    @include transform(none);
  }
}

//animation move clouds
@include keyframes(moveClouds) {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}


//animation move bubble
@include keyframes(moveBubble1) {
  0% {left: 0; opacity: 1; @include transform(scale(0,0)); top: 30%;}
  100% {left: 2000px; opacity: 1; @include transform(scale(1,1)); top: 50%;}
}
@include keyframes(moveBubble2) {
  0% {left: 0; opacity: 1; @include transform(scale(0,0)); top: 30%;}
  100% {left: -2000px; opacity: 1; @include transform(scale(1,1)); top: 50%;}
}