.bubble-container {
  width: 100%;
  z-index: 0;
  min-height: 100%;
  @include position(absolute, 0 null null 50%);
}
.bubble {
  @include size(60px 60px);
  position: absolute;
  opacity: 0;
}
.bubble1 {
  @include animation(moveBubble1 3s linear infinite 1s);
}
.bubble2 {
  @include animation(moveBubble2 3s linear infinite 1s);
}

@for $i from 1 through 20 {
  .bubble:nth-child(#{$i}){
     $size: random(60)+px;
    &:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      height: $size;
      width: $size;
      background-color: hsl(random(360), 70%, 50%);
      @include animation-delay(-$i * .2s);
      @include transform(translate3d( (random(1000) * 1px), (random(1000) * 1px), (random(2000) * 1px)));
    }

  }
}