.clouds {
  width: 100%;
  z-index: 0;
  @include position(absolute, null null 0 0);
  /*Time to finalise the cloud shape*/
  .cloud {
    @include size(200px 60px);
    border-radius: 200px;
    position: relative;
  }

  .cloud:before,
  .cloud:after {
    content: '';
    @include size(100px 80px);
    @include position(absolute, -15px null null 10px);
    border-radius: 100px;
    @include transform(rotate(30deg));
    fill: #1c2128;
  }

  .cloud:after {
    @include size(120px 120px);
    top: -55px;
    left: auto;
    right: 15px;
  }

  /*Time to animate*/
  .cloud1 {
    @include animation(moveClouds 15s linear infinite);
  }

  /*variable speed, opacity, and position of clouds for realistic effect*/
  .cloud2 {
    left: 200px;

    @include transform(scale(0.6));
    opacity: 0.6;
    @include animation(moveClouds 25s linear infinite);
  }

  .cloud3 {
    left: -250px;
    top: -200px;
    @include transform(scale(0.8));
    opacity: 0.8;
    @include animation(moveClouds 20s linear infinite);
  }

  .cloud4 {
    left: 470px;
    top: -250px;
    @include transform(scale(0.75));
    opacity: 0.75;
    @include animation(moveClouds 18s linear infinite);
  }

  .cloud5 {
    left: -150px;
    top: -150px;
    @include transform(scale(0.8));
    opacity: 0.8;
    @include animation(moveClouds 20s linear infinite);
  }
}

.screen-two-clouds {
  .cloud:before,
  .cloud:after {
    background: #1c2128;
  }
}
.screen-three-clouds {
  .cloud:before,
  .cloud:after {
    background: $white;
  }
}
