html,
body {
  color: $color-base;
  @include size(100% 100%);
  font-family: $base-font-family;
  font-size: $font-base-destop;
}

@include media($tablet) {
  html,
  body {
    font-size: $font-base-tablet;
  }
}

@include media($mobile) {
  html,
  body {
    font-size: $font-base-mobile;
  }
}

h2,
h3,
h4 {
  font-weight: 300;
}

p {
  font-size: em(13px);
}

.container {
  height: 100%;
  @include outer-container(100%);
}
.text-center {
  text-align: center;
}

.nav-overlay {
  @include position(fixed, 0 null null 0);
  @include size(100% 100%);
  background: rgba(0,0,0,0.5);
  z-index: 2;
  display: none;
  opacity: 0;
  @include transition(opacity 1s cubic-bezier(0.19,1,0.22,1) 0);
  &.displayed {
    display: block;
    opacity: 1;
  }
}

.bubble-container {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
}
.bubble-wrap {
  margin: 0 auto;
  @include size(500px 500px);
}
.bubble {
  position: absolute;
  background: black;
  opacity: 0.7;
  border-radius: 50%;
  @include animation (moveBubble 2.5s 0s infinite);
}
@for $i from 1 through 20 {
  .bubble:nth-child(#{$i}){
     $size: random(30)+px;
     width: $size;
     height: $size;
     @include animation-delay(-$i * .5s);
     background: hsl(random(360) , 70%, 50%);
  }
}

@for $i from 1 through 10 {
  .bubble:nth-child(#{$i}){
    @include transform(translate( (random(10000) * 1px),  (random(1000) * 1px)));
  }
}
@for $i from 11 through 20 {
  .bubble:nth-child(#{$i}){
    @include transform(translate( (random(10000) * -1px),  (random(1000) * 1px)));
  }
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}