html,
body {
  color: $color-base;
  font-family: $base-font-family;
  font-size: $font-base-destop;
  @include media($tablet-destop) {
    height: 100%;
    overflow: hidden;
  }
  // overflow: hidden;
  width: 100%;
}

@include media($tablet) {
  html,
  body {
    font-size: $font-base-tablet;
  }
}

@include media($mobile) {
  html,
  body {
    font-size: $font-base-mobile;
  }
}

h2,
h3,
h4 {
  font-weight: 300;
}

p {
  font-size: em(13px);
}

.container {
  height: 100%;
  @include outer-container(100%);
}

.text-center {
  text-align: center;
}

// Style Screen
.screen {

  @include media($tablet-destop) {
    height: 100%;
  }
  padding-top: 168px;
  z-index: auto;
  width: 100%;
  @include position(absolute, 0 null null 0);
  @include transition(transform 1000ms cubic-bezier(.23,1,.32,1) 0ms);
  &-container {
    @include media($tablet-destop) {
      height: 100%;
    }
    overflow: hidden;
    position: relative;
    will-change: transform;
   width: 100%;
    @include transition(transform 2000ms cubic-bezier(.23,1,.32,1) 0ms);
    &.up {
      @include transform(translate3d(0px, -192px, 0px));
    }
  }
  &.top {
    @include transform(translate3d(0,-100%,0));
  }
  &.bottom {
    @include transform(translate3d(0,100%,0));
  }
  &.active {
    // @include transform(translate3d(0,0,0));
  }
  &-one,
  &-four {
    background-color: $blue;
  }
  &-two {
    background-color: #293039;
  }
  &-three {
    background-color: pink;
  }
  &-five {
    background-color: #c42846;
  }
}

.content {
  color: $white;
  text-align: center;
  max-width: 800px;
  padding: 0 50px;
  width: 100%;
  padding: 0 125px;
  @include media($mobile) {
    padding: 0 30px;
  }
  box-sizing: border-box;
  z-index: 4;
  @include media($tablet-destop) {
    @include position(absolute, 25% null null 50%);
    @include transform(translate3d(-50%,-50%,0));
  }
}

//Style overlay
.nav-overlay {
  @include position(fixed, 0 null null 0);
  @include size(100% 100%);
  background: rgba(0,0,0,0.5);
  z-index: 2;
  display: none;
  opacity: 0;
  @include transition(opacity 1s cubic-bezier(0.19,1,0.22,1) 0);
  &.displayed {
    display: block;
    opacity: 1;
  }
}

// Style Pagination -->
.nav-swiper {
  @include clearfix;
  @include outer-container(60%);
  @include media($mobile-tablet) {
    @include outer-container(93%);
  }
  // @include media($mobile) {
  //   display: none;
  // }
  position: relative;
  z-index: 5;
  &-pagination {
    text-align: center;
    @include position(absolute, 50% 13px null null);
    @include transition(300ms);
    @include transform(translate3d(0, 0, 0));
    &-bullet {
      @include size(12px 12px);
      border-radius: 100%;
      border: 2px solid $white;
      background: transparent;
      cursor: pointer;
      display: block;
      margin-bottom: em(8);
      opacity: 1;
      &.active {
        background-color: $white;
      }
      &:hover {
        background-color: $white;
        opacity: 0.5;
        @include transform(scale(1.3,1.3));
        @include transition(transform 1200ms cubic-bezier(.19,1,.22,1) 500ms);
        @include transition(opacity 1000ms cubic-bezier(0.19,1,0.22,1) 100ms);
      }
    }
    &.dark {
      .nav-swiper-pagination-bullet {
        border: 2px solid #3c4651;
        &.active {
          background-color: #3c4651;
        }
        &:hover {
          background-color: #3c4651;
        }
      }
    }
  }
}