$bg-inside-box: #ddd;

.letter-box {
    @include transform(translate3d(0,100%,0));
    @include transition(transform 2000ms cubic-bezier(.19,1,.22,1) 1000ms);
    &-left {
        position: absolute;
        border-bottom: 400px solid $white;
        border-right: 530px solid transparent;
        left: 0;
        z-index: 2;
        margin-left: -270px;
        @include size(0 0);
        @include position(absolute, null null 0 50%);
    }
    &-right {
        border-bottom: 400px solid $white;
        border-left: 530px solid transparent;
        z-index: 2;
        border-bottom: 400px solid #fff;
        border-left: 530px solid transparent;
        margin-left: -270px;
        @include position(absolute, null 0 0 50%);
        @include size(0 0);
    }
    &-toprota{
        opacity: 0;
        border-bottom: 200px solid red;

    }
    &-top,
    &-toprota {
        border-left: 265px solid transparent;
        border-right: 265px solid transparent;
        border-bottom: 200px solid $white;
        z-index: 2;
        margin-left: -270px;
        @include size(0 0);
        @include position(absolute, null null 0 50%);
        @include transform(rotateX(0deg));
        @include transform-origin(0% 100%);
        @include transition(transform 0ms cubic-bezier(.19,1,.22,1) 500ms);
    }
    &-backside {
        background-color: $bg-inside-box;
        z-index: 0;
         margin-left: -270px;
        @include size(530px 400px);
        @include position(absolute, null null 0 50%);
    }
}
.screen {
  &.active {
    .letter-box {
      @include transform(translate3d(0,0,0));
      &-top {
        opacity: 0;
        @include transform(translate3d(0,-400px,0));
        @include transition(transform 2000ms cubic-bezier(.19,1,.22,1) 1090ms, opacity 1.0s ease-in 3000ms);
      }
      &-toprota {
        opacity: 1;
        @include transform(translate3d(0,-401px,0) rotateX(180deg));
        @include transition(transform 2000ms cubic-bezier(.19,1,.22,1) 2000ms, opacity 1.0s ease-in 3000ms);
      }
    }
  }
}
