// base font size
$font-base-destop: 18px;
$font-base-tablet: 15px;
$font-base-mobile: 10px;

// color
$white: #fff;
$black: #000;
$color-base: #666;
$blue: #00a7e7;

// navigation
$navigation-height: em(80);


// media screen
$max-mobile-breakpoint: 767px;
$min-tablet-breakpoint: 768px;
$max-tablet-breakpoint: 1024px;
$min-desktop-breakpoint: 1025px;
$max-tablet: 1366px;

$destop: new-breakpoint(min-width $min-desktop-breakpoint);
$tablet-destop: new-breakpoint(min-width $min-tablet-breakpoint);
$tablet: new-breakpoint(max-width $max-tablet-breakpoint min-width $min-tablet-breakpoint);
$mobile-tablet: new-breakpoint(max-width $max-tablet-breakpoint);
$mobile: new-breakpoint(max-width $max-mobile-breakpoint);
$max-tablet: new-breakpoint(max-width $max-tablet);

/// Device Widths
$phone-portrait: em(320);
$phone-landscape: em(568);
$tablet-portrait: em(768);
$tablet-landscape: em(1024);
$desktop: em(1030);

// Target device and smaller screens
$phone-portrait-down: new-breakpoint(max-width $phone-portrait);
$phone-landscape-down: new-breakpoint(max-width $phone-landscape);
$tablet-portrait-down: new-breakpoint(max-width $tablet-portrait);
$tablet-landscape-down: new-breakpoint(max-width $tablet-landscape);
$desktop-down: new-breakpoint(max-width $desktop);

// Target device and bigger screens
$phone-portrait-up: new-breakpoint(min-width $phone-portrait);
$phone-landscape-up: new-breakpoint(min-width $phone-landscape);
$tablet-portrait-up: new-breakpoint(min-width $tablet-portrait);
$tablet-landscape-up: new-breakpoint(min-width $tablet-landscape);
$desktop-up: new-breakpoint(min-width $desktop);