html,
body {
  min-height: 100%;
  margin: 0 auto;
  line-height: 1;
  color: $base-color;
  background-color: $white;
  font-family: $font-family;
  @include size(100% 100%);
  font-size: 12px;
  @include media($tablet) {
    font-size: 15px;
  }
  @include media($desktop) {
    font-size: 16px;
  }
}

body {
  @include media($mobile) {
    width: 320px;
    padding: 0;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
  @include size(100% 100%);
  @include clearfix;
  @include outer-container(1080px);
  @include media($mobile-tablet) {
    @include outer-container(100%);
  }
}

.text-indent {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited {
  color: $nav-color;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}