//valiable
$border-color: #e5e5e5;

header {
  float: left;
  width: 160px;
  margin-bottom: 25px;
  @include media($mobile) {
    margin: 69px 0 20px;
    width: 100%;
  }
  nav {
    width: 160px;
    @include position(absolute, 158px null null 0);
    @include media($mobile) {
      top: 0;
      left: 0;
      width: 100%;
      height: 49px;
      font-size: .75em;
      border-bottom: 1px solid $border-color;
      box-shadow: 0 1px 0 $border-color;
    }
    li {
      background-image: none;
      display: inline;
      margin: 0;
    }
    a:hover {
      background-position: 5px 65%;
      color: $nav-hover-color;
    }
    a,
    a:link,
    a:visited {
      text-decoration: none;
    }
  }
}
.logo {
  @extend .text-indent;
  display: block;
  background: url(../images/logo.png) no-repeat 0 0;
  @include size(120px 120px);
  @include transition(all .3s ease);
  @include media($mobile) {
    margin: 0 auto;
  }
}