//color
$white: #FFF;
$base-color: #333;
$nav-hover-color: #EC6635;

// font family
$font-family: Georgia, sans-serif;


// media screen
$max-mobile-breakpoint: 767px;
$min-tablet-breakpoint: 768px;
$max-tablet-breakpoint: 1024px;
$min-desktop-breakpoint: 1025px;
$max-tablet: 1366px;

$destop: new-breakpoint(min-width $min-desktop-breakpoint);
$tablet-destop: new-breakpoint(min-width $min-tablet-breakpoint);
$tablet: new-breakpoint(max-width $max-tablet-breakpoint min-width $min-tablet-breakpoint);
$mobile-tablet: new-breakpoint(max-width $max-tablet-breakpoint);
$mobile: new-breakpoint(max-width $max-mobile-breakpoint);
$max-tablet: new-breakpoint(max-width $max-tablet);