/*testimonials*/
.partners img {
  float: left;
  margin:0 75px 30px 0;
}
.testimonails {
  min-height: 195px;
  img {
    margin-top: 5px;
  }
  span {
    color: #888;
    b {
      font-weight: 400;
    }
  }
}
.carousel-indicators {
  bottom: 0;
  li {
    border: 1px solid #2BB2E3;
  }
}