/*works*/
.works {
  padding-top:6em;
  figcaption a {
    border:1px solid $base-background-color;
    margin-top: 1em;
    display: inline-block;
    color: $base-background-color;
    padding: 0 2em;
    &:hover {
      text-decoration: none;
      padding: 0 3em;
    }
  }
}